<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/stu/save" method="post">
    <table>

        <tr>

            <td>姓名:<input type="text" name="username" value=""/></td>

        </tr>
        <tr>

            <td>密码:<input type="text" name="password" value=""/></td>

        </tr>
        <tr>
            <td><input type="submit" value="提交"/></td>
        </tr>
    </table>

</form>

</body>
</html>